

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>
<h2 class="bg-primary text-white p-2 text-center">Basics of Angular pipes</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <p class="alert-info p-1">
        {{ para | titlecase }}
      </p>
      <p class="alert-info p-1">
        {{ para | uppercase }}
      </p>
      <p class="alert-info p-1">
        {{ para | lowercase }}
      </p>
      <p class="alert-info p-1">
        we can also use multiple pipes on one property
      </p>

      <p class="alert-info p-1">
        {{ para | titlecase | uppercase }}
      </p>

      <p class="alert-info p-1">
        {{ course | json }}
      </p>
    </div>
  </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  different inbuilt Angular pipes
</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ course.title }}</h2>
        </div>
        <div class="card-body">
          <p>
            {{ course.students | number }}
          </p>
          <p>
            {{ course.rating | number : "2.4-5" }}
          </p>
          
          <p>
            {{ course.price | currency }}<br />
            defualt currency is american doller <br />
            {{ course.price | currency : "USD" }} <br />
            {{ course.price | currency : "INR" }} <br />
            {{ course.price | currency : "EUR" }} <br />
            {{ course.price | currency : "AUD" }} <br />
          </p>
          <p>
            {{ course.releaseDate | date }} <br />
            {{ course.releaseDate | date : "mediumDate" }} <br />
            {{ course.releaseDate | date : "longDate" }} <br />
            {{ course.releaseDate | date : "shortDate" }} <br />
          </p>
        </div>
      </div>

      <button class="btn btn-md btn-info" (click)="submitOnClick()">
        Submit
      </button>
    </div>
  </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  task asked in interview >> summery pipe
</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <p>
        {{ para | summary }}
      </p>
      <p>
        {{ para | summary : 160 }}
      </p>
    </div>
  </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  task asked in interview >> summery-word pipe
</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <p>
        {{ para | summaryWord }}
      </p>
      <p>
        {{ para | summaryWord : 20 }}
      </p>
    </div>
  </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  task asked in interview >> filter pipe - filtering on basis of specific
  condition
</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <input 
        [(ngModel)]="searchVal"
        placeholder="Searh..." type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="selectedfield">
          <option value="name">Player Name</option>
          <option value="team">Player Team</option>
          <option value="odiRuns"> ODI Runs</option>
          <option value="testRuns"> Test Runs</option>
          <option value="debutYear"> Year of Debut</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Full Name</th>
            <th>Team</th>
            <th>ODI Runs</th>
            <th>Test Runs</th>
            <th>Year of Debut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playersArr | PlayerFilter : searchVal : selectedfield; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.team }}</td>
            <td>{{ player.odiRuns }}</td>
            <td>{{ player.testRuns }}</td>
            <td>{{ player.debutYear }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  introduction of Angular Service and how to import HttpClientModule
</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <app-post-dashboard></app-post-dashboard>
    </div>
  </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  postForm and post component Angular Service and its methods
</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <app-post-form></app-post-form>
    </div>
    <div class="col-md-4">
      <app-post-one></app-post-one>
    </div>
    <div class="col-md-4">
      <app-post-two></app-post-two>
    </div>
  </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  todoForm and todoList create and read methods from Angular Service
</h2>
<div class="container mt-5 mb-5 pb-5">
  <div class="row pb-5">
    <div class="col-md-6 mb-4 mb-md-0">
      <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
      <app-todo-list></app-todo-list>
    </div>
  </div>
</div>

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  Student Form and Student Table with Student Service
</h2>
<div class="container mt-5 mb-5 pb-5">
  <div class="row pb-5">
    <div class="col-md-6 mb-4 mb-md-0">
      <app-student-form></app-student-form>
    </div>
    <div class="col-md-6">
      <app-student-table></app-student-table>
    </div>
  </div>
</div>

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->

<h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h2 class="bg-primary text-white p-2 text-center">
  Products with Different Status Task [Creating Products Module]
</h2>
<div class="container mt-5 mb-5 pb-5">
  <div class="row pb-5">
    <div class="col-12">
      <app-products-dashboard> </app-products-dashboard>
    </div>
  </div>
</div>

<!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->




<h2 class="bg-warning p-2 m-0"></h2>
<h2 class="bg-info p-2 m-0"></h2>

<h1 class="bg-primary text-white p-2 text-center">
  Passenger task with service
</h1>
<div class="container mt-5 mb-5 pb-5">
  <div class="row pb-5">
    <div class="col-12">
      <app-passenger-dashboard></app-passenger-dashboard>
    </div>
  </div>
</div>

